* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background: #387E96;
}

.page {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header nav {
    padding: 1.2rem 2.8rem;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

nav input {
    padding: .5rem;
    border-radius: 4px;
    border: 0;
    background: rgba(255, 255, 255, 0.20);   
    color: #FFFFFF;
    font-family: Mulish;
    width: 1083px;
}

nav input:focus-visible{
    outline: none;
}


#logo {
    max-width: 4.1rem;
    max-height: 4.0rem;
}

#personLogin {
    max-width: 4.2rem;
    max-height: 4.2rem;
    width: auto;
    height: auto; 
    object-fit: cover;
}

nav input::placeholder {
    color: #FFFFFF;
    font-family: Mulish;
    line-height: 100%;
}

#img_main {
    padding: 0;
    width: 100%;
    max-height: 22rem;
    height: auto;
    object-fit: cover;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}


main h1 {
    color: var(--Platform-Aliases-Shape-principal, #202024);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
    padding-inline: 1rem;
}

main p {
    color: var(--Platform-Aliases-Background, #121214);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    padding-inline: 1rem;
}

.like{
    padding-inline: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem 2rem;
}

section h2 {
    color: var(--Platform-Aliases-Shape-principal, #202024);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 160%; 
}

article h3 {
    color: var(--Platform-Aliases-Shape-principal, #202024);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 160%;
}

article p {
    color: var(--Platform-Aliases-Background, #121214);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}

article {
    max-height: 8rem;
    display: flex;
    gap: 1.5rem;
}

article img {
    width: 9rem;
    height: 4rem;
}

footer {
    
    padding: 1.6rem;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.6rem;
    font-weight: 600;
}

@media (min-width:1024px) {

    header nav {
        justify-content: center;
        max-width: 100%;
        gap: 2.5rem;
        padding: 1.2rem 2.8rem;
    }

    .page {
        flex-direction: row;
        gap: 2rem;
        padding: 4.1rem 2rem 8rem 2rem;
    }
    
    main {
        width: 60rem;
        gap: 3rem;
    }

    main p {
        padding: 0;
    }

    section {
        gap: 3rem;
        padding: 0;
    }

    article img {
        width: 15rem;
        height: 9rem;
    }
}